.header {
    display: flex;
    justify-content: space-around;
    background-color: bisque;
    align-items: center;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.top-left , .menu , .stink-menu {
    align-items: center;
    background-color: blueviolet;
    padding: 12px;
    border-radius: 8px;
    font-size: 24px;
}

img {
    max-width: 240px;
}

li {
    list-style-type: none;
}

.body-container {
    display: flex;
    background-color: crimson;
    justify-content: space-evenly;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.left-side {
    flex-direction: column;
    max-width: 500px;
    padding: 24px;
}

.showcase {
    align-items: center;
    display: flex;
}

h1 {
    font-size: 64px;
}

.bottom-body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: whitesmoke;
    margin: 24px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.glass-container {
    margin: 16px;
}    

.footer {
    display: flex;
    justify-content:space-evenly;
    background-color: aliceblue;
    padding: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
   flex-direction: column;
   text-decoration: none;
   color: black;
}

h3 {
    text-align: center;
}


.foot-links {
    flex-direction: column;
    display: flex;
    gap: 24px;
    list-style: none;
}

form input {
    width: 400px;
    height: 45px;
    border-radius: 8px ;
    text-align: center;
}

form button {
    width: 200px;
    height: 45px;
    border-radius: 24px;
    background: transparent;
    margin: 8px;
}

.social-icons {
    margin-top: 24px;
}
.social-icons i {
    font-size: 24px;
    margin: 12px;
    cursor: pointer;
}